[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cuong0391
[access "refs/for/refs/*"]
	read = group user/cuong0391
	push = group user/cuong0391
	label-Code-Review = -2..+2 group user/cuong0391
	label-Verified = -1..+1 group user/cuong0391
	rebase = group user/cuong0391
	removeReviewer = group user/cuong0391
	submit = group user/cuong0391
[access "refs/heads/*"]
	read = group user/cuong0391
	create = group user/cuong0391
	push = +force group user/cuong0391
	pushMerge = group user/cuong0391
[access "refs/tags/*"]
	push = +force group user/cuong0391
	pushTag = group user/cuong0391
	pushSignedTag = group user/cuong0391
